<header class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <%= link_to t(".sample_app"), root_path, id: "logo", class: "nav-link" %>
    <nav>
      <ul class="navbar-nav ml-auto my-2 my-lg-0 mr-3">
        <li class="ml-2 nav-item"><%= link_to t(".home"), "#", class: "nav-link" %></li>
        <li class="ml-2 nav-item"><%= link_to t(".help"), "#", class: "nav-link" %></li>
        <li class="ml-2 nav-item"><%= link_to t(".login"), "#", class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>
