$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray-medium: #bbb;
$gray: #555;
$gray-darker: #222;
$white: #fff;
$state-danger-text: rgb(247, 12, 12);
$purple: #f9f9;
$red: red;
$white: white;
$gray-b: #e8e8e8;
